body{
margin:0;
background:#0f172a;
color:#fff;
font-family:Arial, sans-serif;
text-align:center;
}

.container{
max-width:480px;
margin:auto;
padding:20px;
}

h1{
margin-bottom:20px;
}

input, select, button{
width:100%;
padding:12px;
margin:10px 0;
border:none;
border-radius:8px;
font-size:16px;
}

input, select{
background:#1e293b;
color:#fff;
}

button{
background:#6366f1;
color:white;
cursor:pointer;
font-weight:bold;
}

button:hover{
background:#4f46e5;
}

#qrBox, #barcode{
margin-top:20px;
}

.download button{
width:30%;
margin:5px;
}
