body{
margin:0;
font-family:system-ui;
transition:.3s;
}

body.dark{
background:#0f172a;
color:#fff;
}

body.light{
background:#f3f4f6;
color:#000;
}

.app{
max-width:600px;
margin:auto;
padding:20px;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
}

.card{
background:rgba(255,255,255,.05);
padding:20px;
border-radius:12px;
margin:20px 0;
box-shadow:0 10px 30px rgba(0,0,0,.2);
}

input,select,button{
width:100%;
padding:10px;
margin:8px 0;
border:none;
border-radius:8px;
}

button{
background:#6366f1;
color:white;
cursor:pointer;
}

#qr{
margin-top:15px;
text-align:center;
}

.download button{
width:32%;
margin:3px;
}
